.DS_Store

# Ignore downloaded datasets
embeddings/data/
embeddings/text8.zip
face_generation/data/

.ipynb_checkpoints/


*.pyc
*.p
*.pkl 

*/.floyd*
*/bin

## Eclipse IDE

.project
.classpath
.settings/
.metadata
*.tmp
*.bak
*.swp
local.properties
.externalToolBuilders/
*.launch

# Intellij Idea

.idea
*.iml
*.ipr
*.iws

